node_modules
*.js
*.js.map
cdk.out
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd                                                                                                                                                                     
